POSTGRES_URL:jdbc:postgresql://HOST:PORT/DB?user=USER&password=PASSWORD
POSTGRES_USER: test
POSTGRES_PASSWORD: test123
POSTGRES_DB: security
PG_ADMIN_PASSWORD: test123pg
PG_ADMIN_EMAIL: test@gmail.com

AUTH0_ISSUER_URI="dev-app.com"
AUTH0_AUDIENCE="https://dev-app.com/api/v2/"
AUTH0_ROLES_CLAIM_NAMESPACE="https://dev-app.com/roles"